@import '../../style/mixins';

.hero-area {
  position: relative;
  height: 100vh;

  background-image: url('../../assets/fox-wallpaper.jpg');
  background-size: cover;
  background-position: center;

  &__scroll-down {
    @include resetButton()
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    margin: 0 auto;


    animation: scrollDownAttention 2s ease-in-out infinite;

    $size: 5rem;
    height: $size;
    width: $size;

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke-width: 0.08rem;
      stroke: #fff;
    }

    // Transition properties
    transition: all 0.2s ease;
    opacity: 0.7;
    cursor: pointer;
    transform: scale(0.9);
    // Hover animation
    &:hover {
      transform: scale(1);
      opacity: 1;
      animation: none;
    }
  }
}


@keyframes scrollDownAttention {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);

  }
}