$navHeight: 8rem;
$linkColor: #ff793b;

.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  height: $navHeight;

  color: #fff;

  &__link {
    color: #fff;
    text-decoration: none;
    margin: 0 5rem;
  }
}