html {
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: inherit;
  box-sizing: inherit;
}

body {
  background: #EEE;
}

// Spacing
$baseSpacing: 0.8rem;

@mixin generateSpacingMY($multiplier) {
  margin: #{$baseSpacing * $multiplier} 0 #{$baseSpacing * $multiplier} 0;
}

.my-1 {
  @include generateSpacingMY(1);
}

.my-2 {
  @include generateSpacingMY(2);
}

.my-2 {
  @include generateSpacingMY(3);
}

.my-3 {
  @include generateSpacingMY(4);
}

.h100 {
  height: 100vh;
}